:root {
  --link: #09f;
}


/* PHONEGAP */
.statusbar-overlay { background: rgba(0,0,0,0); }
.centered { width: 100%; text-align: center; display: block; }
.error { display: none; width: 100%; text-align: center; color: tomato; font-style: italic; }
.content-block { overflow-x: hidden; }
.page { background: white; }


/* GENERAL */
* {  padding: 0; margin: 0; border: 0; font-family: Georgia, Times, "Times New Roman", serif; }
a { color: var(--link); }
img { width: 100%; display: block; }


/* MENU AND TOP BAR */
.navbar * { background: white; color: black; }
.panel-left { background: #fff; border-right: 1px solid lightgray; }
.panel-left a { color: black; font-size: 1.5em; display: block; width: 100%; margin: 1em 0; text-align: center; border-bottom: 1px solid lightgray; }
.panel-left p { color: gray; width: 100%; text-align: center; }


/* PAGES */
#cnt_login, #cnt_front { display: none; }

#cnt_login input { display: block; width: 60%; margin: 2em 20%; text-align: center; border: 1px solid gray; padding: 2em; box-sizing: border-box; }
#cnt_login a { display: block; width: 60%; margin: 2em 20%; text-align: center; background: var(--link); color: white; padding: 2em; box-sizing: border-box; }

#cnt_mash { padding: 0 0 2em; box-sizing: border-box; }
#cnt_mash a { display: block; padding: 1em 1em 1em calc(1em + 60px); height: 70px; box-sizing: border-box; margin-bottom: 1em; background-size: contain; background-position: left; background-repeat: no-repeat; background-color: #555; border-radius: 8px; color: white; }
#cnt_mash .mash_food { background-image: url("../res/icon_food.png"); }
#cnt_mash .mash_shifts { background-image: url("../res/icon_kitchen.png"); }
#cnt_mash .mash_laundry { background-image: url("../res/icon_wash.png"); }
#cnt_mash .mash_party { background-image: url("../res/icon_party.png"); }

#cnt_news .news_block { width: 100%; height: 240px; background-size: cover; background-position: center; margin-bottom: 1em; border-radius: 8px; box-sizing: border-box; }
#cnt_news .information { height: 100%; width: 100%; position: relative; overflow: hidden; border-radius: 8px; border: 1px solid black; box-sizing: border-box; }
#cnt_news .titles { width: 100%; box-sizing: border-box; padding: 1em; color: white; background: rgba(0,0,0,0.6); overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
#cnt_news .spacetime { position: absolute; bottom: 0; text-align: right; box-sizing: border-box; width: 100%; padding: 1em; background: rgba(255,255,255,0.85); color: black; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }


/* TABLE BASED PAGES */
#cnt_food h1, #cnt_calendar h1, #cnt_shifts h1, #cnt_alumni h1 { width: 100%; font-size: 1.25em; color: black; text-align: center; margin-bottom: 1em; }
#cnt_calendar h2 { width: 100%; font-size: 1em; color: black; text-align: center; margin-bottom: 1em; }
#cnt_calendar i, #cnt_shifts { font-size: 0.9em; color: #6d6d72; }
#cnt_food table, #cnt_calendar table, #cnt_shifts table, #cnt_alumni table { margin-bottom: 2em; width: 100%; }
#cnt_food tr:nth-child(odd), #cnt_calendar tr:nth-child(odd), #cnt_shifts tr:nth-child(odd), #cnt_alumni tr:nth-child(odd) { background: #eee; }
#cnt_food td, #cnt_calendar td, #cnt_shifts td, #cnt_alumni td:not(:first-child) { padding: 1em; }
#cnt_shifts td { text-align: center; }
#cnt_food td:first-child, #cnt_calendar td:first-child, #cnt_shifts td:first-child, #cnt_shifts tr:first-child, #cnt_alumni td:nth-child(2) { font-style: italic; }
#cnt_food td:last-child, #cnt_calendar td:last-child, #cnt_shifts td:not(:first-child), #cnt_alumni td:last-child { color: black; }
#cnt_alumni img { width: 80px; height: 80px; object-fit: cover; object-position: center; }
#cnt_alumni img.big_view { position: fixed; width: 100%; height: 100%; object-fit: contain; background: rgba(0,0,0,0.5); left: 50%; top: 50%; transform: translate(-50%, -50%); }

#cnt_guides h1 { width: 100%; font-size: 1.25em; text-align: center; margin-bottom: 1em; }
#cnt_guides > div { margin-bottom: 3em; display: none; padding: 1.5em; background: #eee; }
#cnt_guides ol, #cnt_guides ul { list-style-position: inside; }
#cnt_guides ul { padding-left: 2em; }

#cnt_laundry h1 { display: inline-block; font-size: 1.25em; padding: 0 1em 1em; }
#cnt_laundry h2 { width: 100%; text-align: center; font-size: 1em; color: black; }
#cnt_laundry h3 { font-size: 0.9em; margin: 0 0 0.5em 2em; }
#cnt_laundry div:not(:last-of-type) { display: none; width: 100%; }
#cnt_laundry table { margin-bottom: 2em; width: 100%; border-collapse: collapse; }
#cnt_laundry td { font-size: 0.9em; border: 1px solid gray; height: 30px; text-align: center; vertical-align: center; width: 12.5%; color: black; }
#cnt_laundry td:first-child { font-style: italic; color: gray; }
#cnt_laundry tr:first-child { font-weight: bold; }
#cnt_laundry tr:nth-child(even) { background: #eee; }
#cnt_laundry .owner { color: #09f; }
#cnt_laundry .availables { width: 100%; height: 100%; background: rgba(153, 204, 255, 0.3); display: block; }
#cnt_laundry .availables:hover { background: rgba(0, 153, 255, 0.6); }
